body{  
    margin: 0;  
}  
nav{  
    height: 60px;  
    display: flex;  
    align-items: center;  
    border-bottom: 1px solid rgb(198, 198, 198);  
    padding: 0 20%;  
}
#wellwellwells{  
    display: flex;  
    justify-content: center;  
}  
#wellwellwellsBox{  
    width: 40%;  
      
}  
.wellwellwell{  
    font-size: 30px;  
    border: 1px solid goldenrod;  
    padding: 50px;  
    margin: 30px 0;  
} 
.pervi{  
    width: 50px;  
    height: 50px;  
    border-radius: 100%;  
    margin-right: 20px;  
}  
.perviBox{  
    display: flex;  
    align-items: center;  
}  
.wows{  
    display: flex;  
    align-items: center;  
}  
.wow{  
    margin-right: 10px;  
} 
.wowBtn{
    width: 30px;
    height: 30px;
    margin-right: 10px;  
}
a{  
    display: flex;  
    align-self: center;  
    width: auto;  
    font-size: 30px;  
}  

.comment-section {
    width: 50%;
}
.comment {
    border: 1px solid goldenrod;
    padding: 5px;
    margin: 5px 0;
}
.ava2{  
    width: 50px;  
    height: 50px;  
    border-radius: 100%;  
    margin-right: 20px;  
} 
.avamain{  
    width: 50px;  
    height: 50px;  
    border-radius: 100%;  
    margin-right: 20px;  
}  
.avamainBox{  
    display: flex;  
    align-items: center;  
}

#posts{  
    display: flex;  
    justify-content: center;  
}  
#postsBox{  
    width: 40%;  
      
}

.img{  
    width: 100%;  
}  
.post{  
    font-size: 30px;  
    border: 1px solid goldenrod;  
    padding: 50px;  
    margin: 30px 0;  
}  
.ava{  
    width: 50px;  
    height: 50px;  
    border-radius: 100%;  
    margin-right: 20px;  
}  
.avaBox{  
    display: flex;  
    align-items: center;  
}  
.likes{  
    display: flex;  
    align-items: center;  
}  
.like{  
    margin-right: 10px;  
} 
.hidden{ 
    display: none; 
}
.likeBtn{
    width: 30px;
    height: 30px;
    margin-right: 10px;  
}
